@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Tangerine&display=swap");

body {
  font-family: "Roboto", sans-serif;
  /* text-align: right; */
}

.main {
  font-family: "Tangerine", cursive;
  text-align: center;
}

.one {
  text-align: left;
}

.two {
  text-align: left;
  text-indent: 50px;
}

.subheading {
}

/* css rule */
/* selectors */
/* declaration block */
/* declaration property: value (semicolon IMPORTANT */
/* id = #hashtag // MUST be unique */
/* class = .class // Can group items together */
/* CSS Specificity */

/* Percentages depend on the parent element!! */
/* Default browser style is 16px = 1em = base value */
/* em = RELATIVE value dependant on parent */
/* rem = ROOT empherial unit */
/* vh = height - Percent of screen height */
/* vw = width - Percent of screen width */
/* calc() functions accepts math withing property values */

/* font-family - gives few options and the generic as last option  */
/* text-align - aligns text - left, right or center */
