div {
  width: 100px;
  height: 100px;
  background: seagreen;
  color: white;
  margin: 15px;
  transition: all 1s linear;
}

div:hover {
  transform: translateX(50px);
}

.ease {
  transition-timing-function: ease;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

/* css rule */
/* selectors */
/* declaration block */
/* declaration property: value (semicolon IMPORTANT */
/* id = #hashtag // MUST be unique */
/* class = .class // Can group items together */
/* CSS Specificity */

/* Percentages depend on the parent element!! */
/* Default browser style is 16px = 1em = base value */
/* em = RELATIVE value dependant on parent */
/* rem = ROOT empherial unit */
/* vh = height - Percent of screen height */
/* vw = width - Percent of screen width */
/* calc() functions accepts math withing property values */

/* font-family - gives few options and the generic as last option  */
/* text-align - aligns text - left, right or center */

/* text-transforom - capitalize, uppercase, lowercase */
/* line-height - space between lines */
/* letter-spacing - space between letters */
/* word-spacing - space between words */
/* text decoration - underline, overline */

/* pseudo classes give actions to text - :focus, :visited, :disabled, :active, :hover */
/* !important - overrides any specificity */

/* padding: takes values in the order- top, right, bottom, left */
/* margin by default has a value, to stack items set margin to 0 (ie * {margin: 0;} */
/* margin: works the same as padding for multiple values */
/* border: values are in the order - width style color */
/* border-radius: percent values add roundnes */
/* margin: accepts negative values */
/* outline: acts as border but has offset value to move in our out */

/* display: block - block elements always start a new line, Top Bottom margin respected*/
/* display: inline - inline elements only take up the content space, Top Bottom margins ignored*/
/* display: inline-block - allows to use margins on inline items */

/* border-sizing: border-box - encloses the whole element within the set width and heigth*/

/* background image properties */

/* linear-gradient(deg, color, color) or to top, to right */
/* float and clear */

/* position: relative; allows to use top: left: right: bottom: properties to position element relative to its original position */
/* position: fixed - fixes an element to the window (not scrollable) */

/* media query only works with the spaces! */
/* z-index: -999 .. 999 sets the layering */
/* z-index does NOT work with static items */

/* pseudo elements ::before ::after require content (even an empty string) */
/* setting an img withing a div, it is possible to set the div to the size and the img to a percentage of the div */

/* child syntax is >, descendant is just space ( ) */
/* hover: changes properties on mouse hover */

/* :root changes the rem */

/* transfrom: translate, skew, rotate */
/* transition: element duration delay, element duration delay */
/* transition: all duration delay */
